:root {
  --altoHeader: 3rem;
  --altoFooter: 3rem;
  --darkModeBody: #1F1F1F;
}
.containerHome {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  max-width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  position: relative;
  position:sticky;
  top: 0;
  z-index: 1001;
}
header a {
  text-decoration: none;
}
h1 {
  color: white;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}
h1::before {
  content: '';
  background-image: url('../img/iconoCruzFarmaciaBlanca.png');
  background-repeat: no-repeat;
  background-size: 2rem;
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}
main {
  max-width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
}
footer {
  max-width: 100%;
  height: 5rem;
  background-color: green;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
}
footer p {
  text-align: center;
  font-size:.9rem;
}
.almanaque, .farmacias {
  max-width: 100%;
  min-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.farmacias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-menu {
  border: none;
  background: transparent;
  color: white;
  position: absolute;
  right: .5rem;
}

.activateDarkMode {
  background-color: black;
}
.activateDarkModeBody {
  background-color: var(--darkModeBody);
  color: white;
}
@media screen and ( min-width: 37em) {
  main {
    flex-direction: row;
  }
  .almanaque, .farmacias {
    width: 50vw;
    /* min-height: calc(50vh - var(--altoHeader)); */
    max-height: calc(100vh - var(--altoHeader));
    border: 1px solid green;
  }
}
