.containerFarmacias {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.items {
  width: 90%;
  border: 1px solid green;
  border-radius: .7rem;
  padding: .5rem;
  margin: .3rem 0;
  display: flex;
}
.infoItems, .btn-container {
  width: 50%;
}
.btn-container {
  display:flex;
  justify-content: flex-end;
}
.btn-map {
  width: 1.2rem;
  height: 1.2rem;
  border: none;
  background: transparent;
  margin-right: 2rem;
}
.btn-map img {
  width: 100%
}
